.term-list {
  display: grid;
  grid-template-columns: 50% 50%;
  margin: 20px 0;
}
.hint {
  font-weight: 100;
  font-size: 11px;
}
.settings-group {
  margin-bottom: 10px;
}
.mat-accordion {
  display: block;
  margin: 0 5px 20px 5px;
}
.mat-divider {
  margin: 10px 0;
}