<div class="cloudapp-actions">
  <button mat-flat-button color="secondary" [routerLink]="['/']">
    <mat-icon>arrow_back_ios</mat-icon> {{ 'BACK' | translate}}
  </button>
  <!--<button mat-flat-button type="button" color="primary" (click)="save()">{{ 'Save' | translate}}</button>-->
</div>
<form *ngIf="form" [formGroup]="form">
  <h1 translate>SETTINGS.TITLE</h1>
  <h2 translate>SETTINGS.DIGITAL</h2>
  <mat-slide-toggle labelPosition="before" formControlName="includeAttachments">{{'SETTINGS.INCLUDE_ATTACHMENTS' | translate}}</mat-slide-toggle>  
  <mat-slide-toggle labelPosition="before" formControlName="overwriteWarning">{{'SETTINGS.OVERWRITE_WARNING' | translate}}</mat-slide-toggle>  
  <h3 translate>SETTINGS.LICENSE_TERMS.TITLE</h3>
  <mat-button-toggle-group [(ngModel)]="allLicenseTerms" [ngModelOptions]="{standalone: true}">
    <mat-button-toggle [value]="true">{{ 'SETTINGS.LICENSE_TERMS.ALL' | translate }}</mat-button-toggle>
    <mat-button-toggle [value]="false">{{ 'SETTINGS.LICENSE_TERMS.SELECTED' | translate }}</mat-button-toggle>
  </mat-button-toggle-group>
  <div class="term-list" *ngIf="!allLicenseTerms">
    <mat-slide-toggle *ngFor="let term of licenseTerms"
      [title]="term.description"
      class="license-term"
      [checked]="form.controls.licenseTerms.value.includes(term.code)"
      (change)="onTermToggled($event, term.code)"
      >
      {{ term.description }}
    </mat-slide-toggle>
  </div> 
</form>
<div class="loading-shade" *ngIf="saving">
  <mat-progress-spinner mode="indeterminate" diameter="50"></mat-progress-spinner>
</div>