@use '../../../drag-drop.scss';

.drag-drop-container {
  width: 125px;
  max-width: 100%;
  margin: 0 25px 25px 0;
  display: inline-block;
  vertical-align: top;
}
h4 {
  font-size: 13px;
  font-weight: 300;
  color: #5e5e5e;
}